* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    overflow-x: hidden; /* Hide horizontal overflow if any */
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.navcontainer {
    width: 100vw; /* Full viewport width */
    background-color: #4158D0; /* Base background color */
    background-image: linear-gradient(
        43deg, 
        #4158D0 0%, 
        #C850C0 30%, 
        #FFCC70 66%, 
        #ffffff 100%
    ); /* Gradient background */
    min-height: 50px; /* Minimum height for the navigation container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#navlogo {
    font-size: 2.3rem;
    color: darkorange;
}

nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(1, 86, 86);
}

#navItems {
    display: flex;
    gap: 18px;
}

#navlist {
    list-style: none;
    font-size: 1.5rem; /* Ensure you have units here, e.g., rem */
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}
.contentbox{
    width: 80%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 40px;
}
.footerbox{

    background-color: #4158D0; /* Base background color */
    background-image: linear-gradient(
        43deg, 
        #4158D0 0%, 
        #C850C0 30%, 
        #FFCC70 66%, 
        #ffffff 100%
    ); /* Gradient background */
    
    width: 100%;
    text-align: center;
    

}
.footerbox p{
    color: azure;
    font-size: 1.2rem;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
   
}

.rightbox {
    height: 100%;
    
    width: 30%;
    margin-left: 1rem;
    margin-bottom: 6rem;

}

.rightbox img
{
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 8px black;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-out;
}

.rightbox img:hover
{
    width: 300px;
    height: 400px;
}


.leftbox h2{
    font-size: 1.75rem;
}
.ingBox{
    font-size: 1rem;
}
.recipeBox{
    font-size: 1.6 rem;
}
